<div style="font-family: sans-serif; font-size: 15px; background: #fff; color: #000; padding: 10px;">
    <p>Добрый день!</p>
    <p>16-го июня с 18:00 до 20:00 состоится организационное собрание по поводу ЛКЛ с директором лагеря Галиной Михайловной Шульгиной. <br>
    Можно будет задать интересующие вас вопросы по лагерю, а также оплатить путевку или ее часть, если такой способ оплаты удобнее.</p>
    <p>Собрание пройдет в свободной форме, то есть можно подходить в любое время с 18:00 до 20:00. <br>
    Место встречи &mdash; школа №9 (Комсомольский проспект, 45), кабинет 13. </p>

</div>

