<div style="font-family: sans-serif; font-size: 15px; background: #fff; color: #000; padding: 10px;">
    <p>$NAME, добрый день!</p>
    <p>Вы были зачислены в ЛКЛ, но не заполнили вовремя анкету зачисленного.</p>
    <p>Мы будем считать, что вы отказались от участия в лагере. Если вы все еще хотите поехать, срочно сообщите нам об этом и заполните анкету зачисленного!</p>
    <p><a href=https://docs.google.com/forms/d/1rNxlVOLInHklrP6y5zapi6QZ6kjeNGeLYvuFlC2y8U0/viewform>Здесь</a> можно заполнить анкету.</p>
    <p>Проверить, что анкета заполнена, можно <a href=https://docs.google.com/spreadsheets/d/1jYzVaJaEoXIhI3qzastp_6IBh47yXIn7ukIv2IROnE0/pubhtml>тут</a>.</p>

</div>

