<div style="font-family: sans-serif; font-size: 15px; background: #fff; color: #000; padding: 10px;"><p>$NAME, поздравляем!</p>
    <p style="font-size: 18px">Вы зачислены в параллель <b style="background: #ddd; padding: 2px 8px; border-radius: 3px;">$PAR</b> Летнего компьютерного лагеря 2016!</p>
    <p>Как можно скорее заполните <a href="https://docs.google.com/forms/d/1rNxlVOLInHklrP6y5zapi6QZ6kjeNGeLYvuFlC2y8U0/viewform?usp=send_form" target="_blank">анкету зачисленного</a>.</p>
    <p>Напоминаем, что ЛКЛ будет проходить <span style="white-space: nowrap">с 9-го</span> <span style="white-space: nowrap">по 29-е августа</span> в лагере «Нечайка» в Пермском крае. Путёвка стоит 32500 рублей. Подробная информация о приезде и отъезде, оплате и необходимых документах есть <a href="http://sicamp.ru/letsgo/" target="_blank">на сайте лагеря</a>.</p>
    <p>Если вы не собираетесь ехать в ЛКЛ, сообщите об этом в ответном письме.</p>
    <p></p>
</div>

